<% content_for :panel_heading do %>Workbench Planner<% end %>
<p id="notice"><%= notice %></p>

<%= render 'layouts/boards' %>

<div class="timer" style="float: right;width: 495px;">
        <div class="row">
          <div class="col-xs-10 text-right" style="width: 97%;">
            
            <div class="huge" style="font-size: 30px;">
              <div id="ruby_time" style="float: right;font-weight: bold;color: #093f88;">
                <%= (Time.zone.now).strftime("%d-%m-%Y %I:%M %p") %>
              </div>
            </div>
          </div>
        </div>
</div>
<!-- /.col-lg-6 -->
<div class="col-lg-6" style="width: 100%;">
    <div class="panel panel-default">
        <div class="panel-heading">
        </div>
        <div class="panel-body">
            <ul class="nav nav-pills">
                <li class="btn btn-outline btn-primary" style="margin-right: 25px;"><a href="#home-pills" data-toggle="tab">YET TO START</a>
                </li>
                <li class="btn btn-outline btn-warning" style="margin-right: 25px;"><a href="#profile-pills" data-toggle="tab">Counting Parts</a>
                </li>
                <li class="btn btn-outline btn-success" style="margin-right: 25px;"><a href="#messages-pills" data-toggle="tab">Completed Parts</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade in active table-responsive" id="home-pills">
                    <p>
            <table id="iottt" class="display table" cellspacing="0" width="95%">
              <thead>
                <tr>
                  <th>WB No.</th>
                  <th>Emp. Name</th>
                  <th>Emp.ID</th>
                  <th>Shift</th>
                  <th>Part No</th>
                  <th>Target</th>
                  <th>Lot size</th>
                  <th>Count</th>
                  <th>Actions</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% if @iot_data_yts %>
                <% @iot_data_yts.each do |iot_datum| %>
                  <% if iot_datum.status == 'Process Completed' %>
                    <tr class="greenn">
                    <% elsif iot_datum.status == 'Processing' && iot_datum.count > 0 %>
                    <tr class="green">
                    <% elsif iot_datum.status == 'YTS' %>
                    <tr class="red">
                    <% else %>
                    <tr>
                  <% end %>
                  <div id='printBody'>
                    <td><%= iot_datum.workbench_number %></td>
                    <td><%= iot_datum.employee_name %></td>
                    <td><%= iot_datum.employee_id %></td>
                    <td><%= iot_datum.shift %></td>
                    <td><%= iot_datum.part_number %></td>
                    <td><%= iot_datum.target %></td>
                    <td><%= iot_datum.lot_size %></td>
                    <td id="ct"><%= iot_datum.count %></td>
                    <td class="action-buttons">
                      <% if iot_datum.status == 'YTS'  %> 
                      <%= link_to iot_datum_process_start_path(iot_datum), class: 'btn btn-info'  do %>
                      <i class="glyphicon glyphicon-play"></i>
                      <% end %>
                      <% elsif iot_datum.status == 'Process Completed' %>  
                      <%= link_to '', class: 'btn btn-success btn-lg'  do %>
                      <i class="glyphicon glyphicon-ok"></i>
                      <% end %>
                      <% elsif iot_datum.status == 'Processing' %>  
                      <%= link_to '', class: 'btn btn-warning btn-lg'  do %>
                      <i class="fa fa-refresh fa-spin"></i>
                      <% end %>
                      <% end %> 
                      <%= link_to iot_datum_path(iot_datum), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' do %>
                      <i class="fa fa-times"></i>
                      <% end %>
                    </td></div>
                  </tr>
                  
                <% end %>
              <% end %>
              </tbody>
            </table>

            <br>
              </p>
          </div>
          <div class="tab-pane fade" id="profile-pills">
              <p>
                <table id="iottt_1" class="display table" cellspacing="0" width="95%">
              <thead>
                <tr>
                  <th>WB No.</th>
                  <th>Emp. Name</th>
                  <th>Emp.ID</th>
                  <th>Shift</th>
                  <th>Part No</th>
                  <th>Target</th>
                  <th>Lot size</th>
                  <th>Count</th>
                  <th>Actions</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% if @iot_data_pro %>
                <% @iot_data_pro.each do |iot_datum| %>
                  <% if iot_datum.status == 'Process Completed' %>
                    <tr class="greenn">
                    <% elsif iot_datum.status == 'Processing' && iot_datum.count > 0 %>
                    <tr class="green">
                    <% elsif iot_datum.status == 'YTS' %>
                    <tr class="red">
                    <% else %>
                    <tr>
                  <% end %>
                    <td><%= iot_datum.workbench_number %></td>
                    <td><%= iot_datum.employee_name %></td>
                    <td><%= iot_datum.employee_id %></td>
                    <td><%= iot_datum.shift %></td>
                    <td><%= iot_datum.part_number %></td>
                    <td><%= iot_datum.target %></td>
                    <td><%= iot_datum.lot_size %></td>
                    <td id="ct"><%= iot_datum.count %></td>
                    <td class="action-buttons">
                      <% if iot_datum.status == 'YTS'  %> 
                      <%= link_to iot_datum_process_start_path(iot_datum), class: 'btn btn-danger btn-lg '  do %>
                      <i class="glyphicon glyphicon-play"></i>
                      <% end %>
                      <% elsif iot_datum.status == 'Process Completed' %>  
                      <%= link_to '', class: 'btn btn-success btn-lg'  do %>
                      <i class="glyphicon glyphicon-ok"></i>
                      <% end %>
                      <% elsif iot_datum.status == 'Processing' %>  
                      <%= link_to '', class: 'btn btn-warning btn-lg'  do %>
                      <i class="fa fa-refresh fa-spin"></i>
                      <% end %>
                      <% end %> 
                      <%= link_to iot_datum_path(iot_datum), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg' do %>
                      <i class="fa fa-times"></i>
                      <% end %>
                    </td>
                  </tr>
                  
                <% end %>
              <% end %>
            </tbody>
            </table>

            <br>
              </p>
              </p>
          </div>
          <div class="tab-pane fade" id="messages-pills">
              <p>
                <table id="iottt_2" class="display table" cellspacing="0" width="95%">
                <span id ="ds" style="float: right;margin-bottom: 10px;"><%= link_to iot_datum_download_report_path('ds', format: "csv"), class: 'btn btn-success'  do %>
              <i class="fa fa-download"></i>
            <% end %></span>
              <thead>
                <tr>
                  <th>WB No.</th>
                  <th>Emp. Name</th>
                  <th>Shift</th>
                  <th>Part No</th>
                  <th>Target</th>
                  <th>Count</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Duration</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% if @iot_data_comp %>
                <% @iot_data_comp.each do |iot_datum| %>
                  <% if iot_datum.status == 'Process Completed' %>
                    <tr class="greenn">
                    <% elsif iot_datum.status == 'Processing' && iot_datum.count > 0 %>
                    <tr class="green">
                    <% elsif iot_datum.status == 'YTS' %>
                    <tr class="red">
                    <% else %>
                    <tr>
                  <% end %>
                    <td><%= iot_datum.workbench_number %></td>
                    <td><%= iot_datum.employee_name %></td>
                    <td><%= iot_datum.shift %></td>
                    <td><%= iot_datum.part_number %></td>
                    <td><%= iot_datum.target %></td>
                    <td id="ct"><%= iot_datum.count %></td>
                    <td><%= (iot_datum.created_at).strftime("%d-%m-%Y") %></td>
                    <td><%= (iot_datum.created_at).strftime("%I:%M:%S %p") %></td>
                    <td><%= (iot_datum.updated_at).strftime("%I:%M:%S %p") %></td>
                    <% d = @duration.find_by(part_number: (iot_datum.part_number), device_id: (iot_datum.device_id)) %>
                    <td><%= ((d.duration).to_datetime).strftime("%H:%M:%S") %></td>
                  </tr>
                  
                <% end %>
               <% end %> 
                
              </tbody>
            </table>

            <br>
              </p>
              </p>
          </div>     
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-6 -->

<% content_for(:extra_scripts) do %>
  
  <script type="text/javascript">
    $(document).ready(function() {
      $('#iottt').DataTable({ responsive: true, ordering: true });
      $('#iottt_1').DataTable({ responsive: true, ordering: true });
      $('#iottt_2').DataTable({ responsive: true, ordering: true });
      
      setInterval( function () {
        $("#iottt_1").load(location.href + " #iottt_1");
        
      }, 5000 ); // load table in every 5 sec
      
      setInterval( function () {
        $("#ruby_time").load(location.href + " #ruby_time");
        // console.log('reloaded'); 
      }, 60000 );
    });
  </script>
<% end %>

