<p id="notice"><%= notice %></p>

<h1>Listing Bar Codes</h1>

<table>
  <thead>
    <tr>
      <th>Asn</th>
      <th>Part code</th>
      <th>Qty</th>
      <th>Date</th>
      <th>Lot size</th>
      <th>Target</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bar_codes.each do |bar_code| %>
      <tr>
        <td><%= bar_code.asn %></td>
        <td><%= bar_code.part_code %></td>
        <td><%= bar_code.qty %></td>
        <td><%= bar_code.date %></td>
        <td><%= bar_code.lot_size %></td>
        <td><%= bar_code.target %></td>
        <td><%= bar_code.location %></td>
        <td><%= link_to 'Show', bar_code %></td>
        <td><%= link_to 'Edit', edit_bar_code_path(bar_code) %></td>
        <td><%= link_to 'Destroy', bar_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bar code', new_bar_code_path %>
