<% content_for :panel_heading do %>Analytics
<% end %>
<%= render 'boards' %>
<%= render 'leader_board' %>
<%= render 'detail_board' %>

<div style="height: 400px; margin: 0 auto">
  <div id="container-speed" style="width: 300px; height: 200px; float: left"></div>
  <div id="container-rpm" style="width: 300px; height: 200px; float: left"></div>
</div>

<script type="text/javascript">

$(document).ready(function() {
      $('#day_wise').DataTable({ responsive: true, ordering: true });
      $('#ds_wise').DataTable({ responsive: true, ordering: true });
      $('#sp_wise').DataTable({ responsive: true, ordering: true });

      setInterval( function () {
        $("#lb_cmp-pills").load(location.href + " #lb_cmp-pills");
        $("#lb_pro-pills").load(location.href + " #lb_pro-pills");
      }, 5000 );
    });

      setInterval( function () {
        $("#ruby_time").load(location.href + " #ruby_time");
        console.log('reloaded'); 
        
      }, 60000 );

  var gaugeOptions = {

    chart: {
        type: 'solidgauge'
    },

    title: 'WorkBench',

    pane: {
        center: ['50%', '85%'],
        size: '140%',
        startAngle: -90,
        endAngle: 90,
        background: {
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
            innerRadius: '60%',
            outerRadius: '100%',
            shape: 'arc'
        }
    },

    tooltip: {
        enabled: false
    },

    // the value axis
    yAxis: {
        stops: [
            [0.1, '#55BF3B'], // green
            [0.5, '#DDDF0D'], // yellow
            [0.9, '#DF5353'] // red
        ],
        lineWidth: 0,
        minorTickInterval: null,
        tickAmount: 2,
        title: {
            y: -70
        },
        labels: {
            y: 15
        }
    },

    plotOptions: {
        solidgauge: {
            dataLabels: {
                y: 5,
                borderWidth: 0,
                useHTML: true
            }
        }
    }
};

// The speed gauge
var chartSpeed = Highcharts.chart('container-speed', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: '<%= @data_for_1[1] %>',
        title: {
            text: 'WorkBench No. 1'
        }
    },

    credits: {
        enabled: false
    },

    series: [{
        name: 'Speed',
        data: [<%= @data_for_1[0] %>],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">No. of Parts</span></div>'
        },
        tooltip: {
            valueSuffix: 'No. of Parts'
        }
    }]

}));

// The RPM gauge
var chartRpm = Highcharts.chart('container-rpm', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: '<%= @data_for_2[1] %>',
        title: {
            text: 'WorkBench No. 2'
        }
    },

    series: [{
        name: 'RPM',
        data: [<%= @data_for_2[0] %>] || [0],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">No. of Parts</span></div>'
        },
        tooltip: {
            valueSuffix: ' revolutions/min'
        }
    }]

}));

// The RPM gauge
var chartRpm1 = Highcharts.chart('container-rpm1', Highcharts.merge(gaugeOptions, {
    yAxis: {
        min: 0,
        max: '<%= @data_for_1[1] %>',
        title: {
            text: 'WorkBench No. 3'
        }
    },

    series: [{
        name: 'RPM',
        data: [<%= @data_for_1[0] %>],
        dataLabels: {
            format: '<div style="text-align:center"><span style="font-size:25px;color:' +
                ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                   '<span style="font-size:12px;color:silver">No. of Parts</span></div>'
        },
        tooltip: {
            valueSuffix: ' revolutions/min'
        }
    }]

}));
</script>